.header {
	background: #fff;
	padding: 1.5rem 0;
	text-align: center;

	.container {
		max-width: 1020px;
	}

	.header_row {

	}

	.header_text {
		margin-bottom: 1rem;
		color: #747474;
		font-size: 1.4rem;
		line-height: 2rem;
		text-align: center;
		text-decoration: navajowhite;
	}

	.header_logo {
		width: 137px;
		margin: 0 auto 2rem auto;
	}

	.header_button {
		margin: 0;
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;

		> li {
			padding: 0 0.5rem;
			display: inline-block;
		}
	}

	@media (min-width: $screen-sm-min) {

		.header_row {
			@include flexbox();
			@include justify-content(space-between);
		}

		.header_text {
			margin-bottom: 0;
			padding: 0.8rem 0;
		}

		.header_logo {
			margin: 0 auto;
			padding: 0.4rem 0;
		}
	}
}

.main {
	background: #fff;
	font-size: 1.6rem;
	padding-top: 4rem;
	padding-bottom: 5rem;
	line-height: 1.625;

	@media (min-width: $screen-md-min) {
		font-size: 2rem;
	}
}

.author {
	position: relative;
	padding-left: 75px;
	margin-bottom: 25px;

	.author_photo {
		top: 0;
		left: 0;
		width: 60px;
		height: 60px;
		overflow: hidden;
		position: absolute;
		@include border-radius(50%);
	}

	.author_name {
		@include clearfix();

		span {
			float: left;
			color: #4c4c4c;
			font-size: 1.4rem;
			line-height: 1.6rem;
			display: inline-block;
			padding: 0.2rem 1.5rem 0.2rem 0;
			@include border-radius(3px);
		}

		a {
			float: left;
			outline: none;
			font-size: 1.4rem;
			line-height: 1.6rem;
			color: $color-green;
			display: inline-block;
			text-decoration: none;
			padding: 0.1rem 0.8rem;
			border: 1px solid $color-green;
			@include border-radius(3px);
		}
	}

	.author_text {
		color: #949494;
		font-size: 1.4rem;
		line-height: 2rem;
	}

	.author_meta {
		margin: 0;
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;

		> li {
			color: #949494;
			font-size: 1.4rem;
			line-height: 2rem;
			display: inline-block;

			&:after {
				content: '·';
				padding: 0 10px;
			}

			&:last-child {

				&:after {
					display: none;
				}
			}
		}
	}
}



.content_image {
	text-align: center;
	margin-bottom: 4rem;

	.content_image_text {
		color: #747474;
		font-size: 1.6rem;
		line-height: 2.2rem;
		text-align: center;
		font-style: italic;
	}

	.img-fluid {
		display: inline-block;
	}
}

.bnr {
	width: 100%;
	color: #fff;
	display: table;
	font-size: 2rem;
	font-weight: 700;
	text-decoration: none;
	line-height: 2.2rem;
	text-align: center;
	font-family: $font-family-head;
	background: url("../images/bnr.jpg") 50% 50% no-repeat;

	.bnr_text {
		height: 150px;
		display: table-cell;
		vertical-align: middle;
	}

	&:hover {
		color: #fff;
		text-decoration: none;
	}
}

.comments {
	padding: 5rem 0;
	background: #fafafa;

	.comments_wrap {
		max-width: 640px;
	}
}

.feedback {
	padding: 2.5rem;
	background: #fff;
	margin-bottom: 2rem;
	@include box-shadow( 0px 4px 2px 0px rgba(0, 0, 0, 0.1));

	.feedback_heading {
		min-height: 3.5rem;
		position: relative;
		margin-bottom: 1.5rem;
		padding: 0.7rem 0 0 4.4rem;

		.feedback_heading_avatar {
			top: 0;
			left: 0;
			width: 35px;
			height: 35px;
			display: block;
			overflow: hidden;
			position: absolute;
			@include border-radius(50%);
		}

		.feedback_heading_name {
			color: #307578;
			font-size: 1.4rem;
			line-height: 2rem;
		}
	}

	.feedback_text {
		color: #4c4c4c;
		font-size: 1.7rem;
		line-height: 2.8rem;
		margin-bottom: 1.5rem;
	}

	.feedback_like {
		color: #4c4c4c;
		height: 2.5rem;
		cursor: pointer;
		font-size: 1.4rem;
		line-height: 2rem;
		display: inline-block;
		text-decoration: none;
		padding: 0.5rem 0 0 2.8rem;
		background: url("../img/icon_like.png") 0 50% no-repeat;
	}
}

.adv {
	color: #fff;
	display: block;
	margin-top: 3rem;
	text-decoration: none;
	padding: 3.2rem 2.5rem;
	background: url("../images/adv_image.jpg") 50% 50% no-repeat;
	background-size: cover;

	.adv_text {
		color: #fff;
		padding: 1rem 0;
		font-weight: 700;
		font-size: 1.6rem;
		line-height: 2.4rem;
		text-align: center;
		margin-bottom: 3rem;
		border-top: 1px solid #fff;
		border-bottom: 1px solid#fff;
	}

	.adv_button {
		text-align: center;
	}

	@media (min-width: $screen-md-min) {

		.adv_row {
			@include flexbox();
		}

		.adv_text {
			margin-bottom: 0;
			text-align: left;
			@include flex-grow(1);
		}

		.adv_button {
			width: 160px;
			padding-top: 1.5rem;
			min-width: 160px;
			text-align: right;
		}
	}
}
