@font-face {
	font-family:'CharterITC';
	src: url('../fonts/CharterITC/CharterITC_Bold_Italic.eot');
	src: url('../fonts/CharterITC/CharterITC_Bold_Italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/CharterITC/CharterITC_Bold_Italic.woff2') format('woff2'),
	url('../fonts/CharterITC/CharterITC_Bold_Italic.woff') format('woff'),
	url('../fonts/CharterITC/CharterITC_Bold_Italic.ttf') format('truetype'),
	url('../fonts/CharterITC/CharterITC_Bold_Italic.otf') format('opentype'),
	url('../fonts/CharterITC/CharterITC_Bold_Italic.svg#CharterITC Bold Italic') format('svg');
	font-weight: 700;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-00FE;
}

@font-face {
	font-family:'CharterITC';
	src: url('../fonts/CharterITC/CharterITC_Bold.eot');
	src: url('../fonts/CharterITC/CharterITC_Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/CharterITC/CharterITC_Bold.woff2') format('woff2'),
	url('../fonts/CharterITC/CharterITC_Bold.woff') format('woff'),
	url('../fonts/CharterITC/CharterITC_Bold.ttf') format('truetype'),
	url('../fonts/CharterITC/CharterITC_Bold.otf') format('opentype'),
	url('../fonts/CharterITC/CharterITC_Bold.svg#CharterITC Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-00FE;
}

@font-face {
	font-family:'CharterITC';
	src: url('../fonts/CharterITC/CharterITC.eot');
	src: url('../fonts/CharterITC/CharterITC.eot?#iefix') format('embedded-opentype'),
	url('../fonts/CharterITC/CharterITC.woff2') format('woff2'),
	url('../fonts/CharterITC/CharterITC.woff') format('woff'),
	url('../fonts/CharterITC/CharterITC.ttf') format('truetype'),
	url('../fonts/CharterITC/CharterITC.otf') format('opentype'),
	url('../fonts/CharterITC/CharterITC.svg#CharterITC') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-00FE;
}

@font-face {
	font-family:'CharterITC';
	src: url('../fonts/CharterITC/CharterITC_Italic.eot');
	src: url('../fonts/CharterITC/CharterITC_Italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/CharterITC/CharterITC_Italic.woff2') format('woff2'),
	url('../fonts/CharterITC/CharterITC_Italic.woff') format('woff'),
	url('../fonts/CharterITC/CharterITC_Italic.ttf') format('truetype'),
	url('../fonts/CharterITC/CharterITC_Italic.otf') format('opentype'),
	url('../fonts/CharterITC/CharterITC_Italic.svg#CharterITC Italic') format('svg');
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-00FE;
}


@font-face {
	font-family:'Lucida Grande';
	src: url('../fonts/LucidaGrande/Lucida_Grande_Bold.eot');
	src: url('../fonts/LucidaGrande/Lucida_Grande_Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/LucidaGrande/Lucida_Grande_Bold.woff2') format('woff2'),
	url('../fonts/LucidaGrande/Lucida_Grande_Bold.woff') format('woff'),
	url('../fonts/LucidaGrande/Lucida_Grande_Bold.ttf') format('truetype'),
	url('../fonts/LucidaGrande/Lucida_Grande_Bold.otf') format('opentype'),
	url('../fonts/LucidaGrande/Lucida_Grande_Bold.svg#Lucida Grande Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2215;
}

@font-face {
	font-family:'Lucida Grande';
	src: url('../fonts/LucidaGrande/Lucida_Grande.eot');
	src: url('../fonts/LucidaGrande/Lucida_Grande.eot?#iefix') format('embedded-opentype'),
	url('../fonts/LucidaGrande/Lucida_Grande.woff2') format('woff2'),
	url('../fonts/LucidaGrande/Lucida_Grande.woff') format('woff'),
	url('../fonts/LucidaGrande/Lucida_Grande.ttf') format('truetype'),
	url('../fonts/LucidaGrande/Lucida_Grande.otf') format('opentype'),
	url('../fonts/LucidaGrande/Lucida_Grande.svg#Lucida Grande') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2215;
}