* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}


body {
	color: $color-base;
	font-family: $font-family-base;
	background-color: $body-bg;
	font-size: $font-size-base;
	line-height: $line-height-base;
}

.container {
	margin: 0 auto;
	padding: 0 1rem;
	max-width: 720px;
}


// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin: 0;
	padding: 0;
}

h1, .h1 {
	color: #292929;
	line-height: 1.1;
	font-size: 2.8rem;
	margin-bottom: 2rem;
	font-family: $font-family-head;

	@media (min-width: $screen-md-min) {
		font-size: 3.7rem;
	}
}

h2, .h2 {
	font-size: 2.8rem;
	line-height: 1.15;
	margin-bottom: 3rem;
	font-family: $font-family-head;

	@media (min-width: $screen-md-min) {
		font-size: 3.4rem;
	}
}

h3, .h3 {
	font-size: 2rem;
	font-weight: 400;
	line-height: 2.2rem;
	margin-bottom: 3rem;
	text-transform: uppercase;
	font-family: $font-family-base;

	@media (min-width: $screen-md-min) {
		margin-bottom: 3rem;
	}
}

h4, .h4 {
	font-size: 2.8rem;
	margin-bottom: 2rem;
	font-family: $font-family-head;
}

h5, .h5 {
	font-size: 1.6rem;
	margin-bottom: 1.6rem;
	font-family: $font-family-head;
}

h6, .h6 {
	font-size: 1.4rem;
	margin-bottom: 1.4rem;
	font-family: $font-family-head;
}

p {
	margin-bottom: 3rem;

	@media (min-width: $screen-md-min) {
		margin-bottom: 3rem;
	}
}


// Links

a {
	outline: none;
	color: #03a57a;
	text-decoration: $link-decoration;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;

	&:hover {
		color: #03a57a;
		text-decoration: $link-hover-decoration;
	}

	strong {
		text-decoration: none;
	}

	&.link_no_underline {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	&:hover {

		strong {
			text-decoration: underline;
		}
	}
}

.text_green {
	color: $color-green;
}


strong {

	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}