.btn {
	outline: none;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 2rem;
	color: $color-green;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	padding: 0.8rem 1.5rem;
	background: transparent;
	font-family: $font-family-head;
	border: 1px solid $color-green;

	@include border-radius(3px);
	@include transition(.2s);

	&:hover {
		color: #fff;
		text-decoration: none;
		background: $color-green;
	}

	&:focus,
	&.focus {
		outline: 0;
	}
}

.btn_transparent {
	border-color: transparent;

	&:hover {
		color: #000;
		background: transparent;
	}
}


.btn_oval {
	color: #fff;
	border: none;
	outline: none;
	font-weight: 700;
	font-size: 1.8rem;
	line-height: 2rem;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	background: #902ec7;
	padding: 0.8rem 4rem;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	text-transform: uppercase;
	font-family: $font-family-head;
	@include border-radius(16px);
	@include transition(.2s);

	&:hover {
		color: #fff;
		background: #a300ff;
		text-decoration: none;
	}

	&:focus,
	&.focus {
		outline: 0;
	}
}